@use '/styles/helpers/' as *;

.dropdown__menu-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: rem(8);

  &[aria-expanded='true'] .dropdown__chevron {
    transform: rotate(180deg);
  }
}

.dropdown__chevron {
  flex-shrink: 0;
  opacity: 0.7;
  transition: transform var(--transition-duration);
}

.dropdown__menu {
  font-size: rem(14);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: calc(100% + rem(14));

  background: var(--color-form);
  border-radius: var(--border-radius-medium);

  display: none;
  flex-direction: column;
  row-gap: rem(4);

  &--is-open {
    display: flex;
  }

  @include gradient-border(
    2,
    solid,
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0),
    var(--border-radius-medium)
  );

  a {
    text-decoration: none;
    padding: rem(4) rem(8);

    &:first-child {
      padding-top: rem(12);
      border-radius: var(--border-radius-medium);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      padding-bottom: rem(12);
      border-radius: var(--border-radius-medium);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @include hover {
      background-color: #333a40;
    }
  }
}
